In [1]:
import pandas as pd
data={}
df=pd.read_csv("patient_details.csv")
print(df.head(10))
print(df.tail(10))
print(df.describe())
print(df.info())
print(df.isna())
print(df.isna().sum())
df["name"].fillna("x",inplace=True)
df["age"].fillna(df["age"].mean(),inplace=True)
print(df)

  patient_id          name   age  gender     city admission_date height_cm
0       P001           NaN  25.0       F   mumbai     15-01-2024       180
1       P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
2       P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
3       P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
4       P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
5       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
6       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
7       P008     John Paul  60.0       F  Chennai     15-01-2024       160
8       P009           NaN  45.0       M   Mumbai     15-01-2024       150
9       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150
    patient_id          name   age  gender     city admission_date height_cm
120       P001           NaN  25.0       F   mumbai     15-01-2024       180
121       P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
122       P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
123       P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
124       P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009           NaN  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150
              age
count  106.000000
mean    35.849057
std     21.015546
min     -5.000000
25%     25.000000
50%     30.000000
75%     60.000000
max     60.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      130 non-null    object
 1   name            107 non-null    object
 2   age             106 non-null    float64
 3   gender          130 non-null    object
 4   city            130 non-null    object
 5   admission_date  130 non-null    object
 6   height_cm       130 non-null    object
dtypes: float64(1), object(6)
memory usage: 7.2+ KB
None
     patient_id   name    age  gender   city  admission_date  height_cm
0         False   True  False   False  False           False      False
1         False  False  False   False  False           False      False
2         False  False  False   False  False           False      False
3         False  False  False   False  False           False      False
4         False  False  False   False  False           False      False
..          ...    ...    ...     ...    ...             ...        ...
125       False  False  False   False  False           False      False
126       False  False  False   False  False           False      False
127       False  False  False   False  False           False      False
128       False   True  False   False  False           False      False
129       False  False  False   False  False           False      False

[130 rows x 7 columns]
patient_id         0
name              23
age               24
gender             0
city               0
admission_date     0
height_cm          0
dtype: int64
    patient_id          name   age  gender     city admission_date height_cm
0         P001             x  25.0       F   mumbai     15-01-2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
2         P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
3         P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
4         P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009             x  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

[130 rows x 7 columns]

C:\Users\Pratyaya\AppData\Local\Temp\ipykernel_21112\1596902498.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("x",inplace=True)
C:\Users\Pratyaya\AppData\Local\Temp\ipykernel_21112\1596902498.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(),inplace=True)

In [2]:
import pandas as pd
data={}
df=pd.read_csv("medical_records.csv")
print(df.head(10))
print(df.tail(10))
print(df.describe())
print(df.info())
print(df.isna())
print(df.isna().sum())
df["sugar_level"].fillna(0,inplace=True)

print(df)

  record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0      R101       P013  Hypertension  120/80        140.0        2000
1      R102       P105      Diabetes  120/80          NaN        2500
2      R103       P098  Hypertension    high        140.0        3000
3      R104       P038        Asthma  140/90          NaN        3000
4      R105       P040        Asthma  130/85          NaN        1500
5      R106       P033  Hypertension  140/90        140.0        3000
6      R107       P034      Diabetes    high        180.0        3000
7      R108       P027      Diabetes    high          NaN        1500
8      R109       P100  Hypertension  140/90        110.0        2000
9      R110       P090      Diabetes  130/85          NaN        2500
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
110      R211       P060      Diabetes  140/90          NaN        2000
111      R212       P114  Hypertension    high        110.0        2000
112      R213       P096        Asthma  120/80        110.0        3000
113      R214       P097  Hypertension    high        140.0        3000
114      R215       P113  Hypertension  140/90        180.0        1500
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500
       sugar_level   visit_cost
count    85.000000   120.000000
mean    141.058824  2287.500000
std      27.689758   567.548539
min     110.000000  1500.000000
25%     110.000000  2000.000000
50%     140.000000  2500.000000
75%     180.000000  3000.000000
max     180.000000  3000.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   record_id    120 non-null    object
 1   patient_id   120 non-null    object
 2   diagnosis    120 non-null    object
 3   bp           120 non-null    object
 4   sugar_level  85 non-null     float64
 5   visit_cost   120 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.8+ KB
None
     record_id  patient_id  diagnosis     bp  sugar_level  visit_cost
0        False       False      False  False        False       False
1        False       False      False  False         True       False
2        False       False      False  False        False       False
3        False       False      False  False         True       False
4        False       False      False  False         True       False
..         ...         ...        ...    ...          ...         ...
115      False       False      False  False        False       False
116      False       False      False  False         True       False
117      False       False      False  False         True       False
118      False       False      False  False        False       False
119      False       False      False  False        False       False

[120 rows x 6 columns]
record_id       0
patient_id      0
diagnosis       0
bp              0
sugar_level    35
visit_cost      0
dtype: int64
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          0.0        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          0.0        3000
4        R105       P040        Asthma  130/85          0.0        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          0.0        1500
117      R218       P063  Hypertension  140/90          0.0        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

C:\Users\Pratyaya\AppData\Local\Temp\ipykernel_21112\1566414408.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["sugar_level"].fillna(0,inplace=True)